[Desktop Entry]
Type=Application
Name=SpaceCal for Monado
Comment=VR Tracking Space Calibrator for Monado/WiVRn
Exec=spacecal-for-monado
Icon=dev.oblivius.spacecal-for-monado
Categories=Utility;Settings;
Keywords=vr;monado;wivrn;calibration;tracking;space;
Terminal=false
